.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 15px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;

}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 15px;
}

.btn-reserva{
    width: 100%; 
    border-radius: 0%;
}

.footer-address-icon{
    padding: 10px;
}

.tab-content{
    padding-top: 10px;
}