.jumbotron {
  background-color: #ffffff;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px; }

.btn-reserva {
  width: 100%;
  border-radius: 0%; }

.footer-address-icon {
  padding: 10px; }

.tab-content {
  padding-top: 10px; }
